#typed-cursor {
    font-weight: 100;
    color: #aeaeae;
}

#typed-cursor.blinking {
    -webkit-animation: CursorBlink 800ms infinite linear;
    -moz-animation: CursorBlink 800ms infinite linear;
    -ms-animation: CursorBlink 800ms infinite linear;
    -o-animation: CursorBlink 800ms infinite linear;
    animation: CursorBlink 800ms infinite linear
}
@-webkit-keyframes CursorBlink {
    0% {
        opacity: 1
   }
   60% {
       opacity: 1
  }
  61% {
      opacity: 0
 }
 100% {
     opacity: 0
}
}
@-moz-keyframes CursorBlink {
    0% {
        opacity: 1
   }
   60% {
       opacity: 1
  }
  61% {
      opacity: 0
 }
 100% {
     opacity: 0
}
}
@-ms-keyframes CursorBlink {
    0% {
        opacity: 1
   }
   60% {
       opacity: 1
  }
  61% {
      opacity: 0
 }
 100% {
     opacity: 0
}
}
@-o-keyframes CursorBlink {
    0% {
        opacity: 1
   }
   60% {
       opacity: 1
  }
  61% {
      opacity: 0
 }
 100% {
     opacity: 0
}
}
@keyframes CursorBlink {
    0% {
        opacity: 1
   }
   60% {
       opacity: 1
  }
  61% {
      opacity: 0
 }
 100% {
     opacity: 0
}
}
