
.dummy_rule_to_make_formatter_happy {

    padding: 0;
}
/*Need to only make it for the archive and tags*/

.sidebar-nav ul, .related ul, #archive ul, #tags ul {
    list-style-type: none;
    font-size: 85%;
}
/* Sidebar links */

.sidebar a {
    color: #dedede;
    position: relative;
    text-decoration: none;
}
.sidebar a:hover {
    color: #fff;
}
/*The subtitle of the blog*/

.lead {
    font-family: 'Fjalla One', sans-serif;
    font-size: 1.05rem;
    /* matches the "Inteist" title size wise */
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Fjalla One', sans-serif;
}
.post-date {
    margin-bottom: 2rem;
}
.posts > .post {
    margin-bottom: 10em;
}
.post {
    margin-bottom: 2em;
}
.posts > .spacer, .post > .spacer {
    margin-bottom: 2rem;
}
img {
    display: block;
    max-width: 100%;
    margin: 0 0 1rem;
    border-radius: 7px;
}
a {
    transition: color ease 0.25s;
}
.reading-time {
    position: absolute;
    top: 20px;
    right: 15px;
    font-size: 85%;
    color: #636363;
    z-index: 10;
}
