/*
 * Contents
 *
 * Global resets
 * Misc
 * Sidebar
 * Container
 * Reverse layout
 * Themes
 */
/*
 * Global resets
 *
 * Update the foundational and global aspects of the page.
 */

html {
    font-family: Helvetica, Lato, Arimo, sans-serif;
}

@media (min-width: 48em) {
    html {
        font-size: 16px;
    }
}

@media (min-width: 58em) {
    html {
        font-size: 18px;
    }
}

/* Misc */
hr {
    position: relative;
    margin: 1rem 0;
    border: 0;
    border-top: 1px solid #cacaca;
    border-bottom: 1px solid #eee;
}

/*
 * Sidebar
 *
 * Flexible banner for housing site name, intro, and "footer" content. Starts
 * out above content in mobile and later moves to the side with wider viewports.
 */

.sidebar {
    text-align: left;
    color: rgb(200, 200, 200) rgba(255, 255, 255, .5);
    background-color: #202020;
}

@media (min-width: 48em) {
    .sidebar {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        width: 16rem;
        text-align: left;
    }
}

/* About section */

.sidebar-about h1 {
    font-family: 'Fjalla One', sans-serif;
    font-size: 3.5rem;
    margin-left: -3px;
}

/* Sidebar nav */

.sidebar-nav {
    margin-bottom: 1rem;
}

.sidebar-nav-item {
    display: block;
    line-height: 1.75;
    font-size: 0.9rem;
}

/* The links overall  */
a:hover,
a:focus {
    text-decoration: none;
}

.link-underline a {
    border-bottom: 2px solid hsla(0, 0%, 50%, .3);
    box-shadow: inset 0 -4px 0 hsla(0, 0%, 50%, .2);
    -webkit-transition: background .25s cubic-bezier(.33, .66, .66, 1);
    transition: background .25s cubic-bezier(.33, .66, .66, 1);
}

.link-underline a:hover,
.link-underline a:focus,
.link-underline a:active,
.related a:hover,
.related a:focus,
.related a:active {
    transition: background .25s cubic-bezier(.33, .66, .66, 1);
    background: hsla(0, 0%, 50%, .1);
}

.tag-links-list>a,
.tag-links-list>li>a {
    color: hsla(0, 0%, 45%, 1);
    border: 4px solid hsla(0, 0%, 80%, .1);
    background: hsla(0, 0%, 50%, .2);
}

.tag-links-list>a:hover,
.tag-links-list>li>a:hover {
    color: hsla(0, 0%, 30%, 1);
}

/* ---- Post-only tag pills (scoped to individual post layout) ---- */
.tag-links-list.post-tags>a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    line-height: 1;
    padding: 0.18rem 0.8rem;
    /* slightly increased vertical padding for optical centering */
    margin: 0 0.25rem 0.25rem 0;
    border-radius: 999px;
    /* pill */
    font-weight: 600;
    /* slightly bolder */
    color: #ffffff;
    /* white text */
    background: hsl(189, 100%, 31%);
    /* link highlight cyan */
    border: none;
    /* override boxed default */
    text-decoration: none;
    transition: background-color .15s ease, transform .08s ease;
    box-sizing: border-box;
}

.tag-links-list.post-tags>a:hover {
    background: hsl(189, 98%, 40%);
    /* hover slightly lighter */
    transform: translateY(-1px);
}

.tag-links-list.post-tags>a .post-tag {
    display: inline-block;
    line-height: 1;
    vertical-align: middle;
    color: inherit;
    font-weight: inherit;
    /* keep inline font-size if present */
}



/* Sticky sidebar
 *
 * Add the `sidebar-sticky` class to the sidebar's container to affix it the
 * contents to the bottom of the sidebar in tablets and up.
 */

.em-text {
    font-family: 'Fjalla One', sans-serif;
}

@media (min-width: 48em) {
    .sidebar-sticky {
        position: absolute;
        right: 1rem;
        bottom: 1rem;
        left: 1rem;
    }
}

/* Titles */

.post-title-accent {}

/* Meta data line below post title */

.post-date {
    margin-bottom: 0.5rem;
}

/* Container
 *
 * Align the contents of the site above the proper threshold with some margin-fu
 * with a 25%-wide `.sidebar`.
 */

.content {
    padding-top: 4rem;
    padding-bottom: 4rem;
    font-size: 1rem;
}

@media (min-width: 48em) {
    .content {
        max-width: 38rem;
        margin-left: 20rem;
        margin-right: 2rem;
    }
}

@media (min-width: 64em) {
    .content {
        margin-left: 22rem;
        margin-right: 4rem;
    }
}
